@model IEnumerable<BookStore.App.Models.HomeViewModel>


@{
    Layout = null;  // Optional: Avoids loading the MVC layout page if you want Angular to handle the entire view.
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular App</title>
    <base href="/" />
</head>
<body>
    <app-root>Loading...</app-root>  <!-- Angular's root component -->
    
    <!-- Reference Angular build output files -->
    <!-- <script src="runtime.js"></script> -->
    <script src="browser/polyfills.js"></script>
    <!-- <script src="styles.js"></script> -->
    <!-- <script src="vendor.js"></script> -->
    <script src="browser/main.js"></script>
</body>
</html>
